<body class="">
<div class="fondo2">
   <form action="/auth/login" method="POST">
      <div class="inicio"> 
         <h1>Bienvenido</h1>   
            <label><h3>Datos Requeridos</h3></label>
               <label> Correo
                  <input name="correo" class='control' id='correo' type="email" placeholder="Ingrese su Correo">
               </label>
               <label> Contraseña
                  <input name="password" class='control' id='contraseña' type="password" placeholder="Ingrese su contraseña">
               </label>
         <button type="submit" value="Registar">Iniciar</button>
      </div>
   </form>
</div>   
</body>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}