<div class="d-flex">
   <div class="d-none d-lg-block">
      <img class="login-img" src="/images/microphone-neon.jpg" alt="">
   </div>
   <div class="flex-grow-1">
      <form action="/auth/login" method="POST">
         <div class="inicio"> 
            <h1>Bienvenido</h1>   
            <label>
               <h3>Datos Requeridos</h3>
            </label>
            <label> Correo
               <input name="correo" class='control' id='correo' type="email" placeholder="Ingrese su Correo">
            </label>
            <label> Contrase単a
               <input name="password" class='control' id='contrase単a' type="password" placeholder="Ingrese su contrase単a">
            </label>
            {{#if errorMessage}}
               <p style="background-color: red; text-align: center">{{errorMessage}}</p>
            {{/if}}
            <button type="submit" value="Registar">Iniciar</button>
            <p class="cuenta">多No tienes cuenta? <a class="link" href="/auth/signup">Registrate</a></p>
         </div> 
      </form> 
   </div>
   <script src="/js/validacionLogin.js"></script>  
</div>


      