<body class="imagen-reg">
   <div class="fondo">
      <form action="/auth/signup" method="POST">
         <div class="formulario-registro"> 
            <h1>Estas a un paso!</h1>
               <label><h3>Datos Requeridos</h3></label>
               <label> Nombre
                  <input name="nombre" class='control' type="text" placeholder="Ingrese su Nombre">
               </label>
               <label> Apellido
                  <input class='control' name='apellido' type="text" placeholder="Ingrese su Apellido">
               </label>
               <label> Correo
                  <input class='control' name='correo' type="email" placeholder="Ingrese su Correo">
               </label>
               <label> Contraseña
                  <input class='control' name='password' type="password" placeholder="Ingrese su contraseña">
               </label>
               <button type="submit">Registarse</button>
         </div>
         {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p> 
         {{/if}}
      </form>      
   </div>   
</body>