<form action="/auth/signup" method="POST">
 <section class="formulario-registro"> 
   <h1>Bienvenido</h1>
   <label><h3>Datos Requeridos</h3></label>
   <label> Nombre
      <input class='control' id='nombre' type="text" name="Ingrese su Nombre">
   </label>
   <label> Apellido
      <input class='control' id='apellido' type="text" name="Ingrese su Apellido">
   </label>
   <label> Correo
      <input class='control' id='correo' type="email" name="Ingrese su Correo">
   </label>
   <label> Contraseña
      <input class='control' id='contraseña' type="password" name="Ingrese su contraseña">
   </label>

   <button type="submit" value="Registar">Registarse</button>
   </section>
</form>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}