
<video id="background-video" autoplay loop muted poster="/video/singer.mp4">
<source src="/video/singer.mp4" type="video/mp4">
</video>

<div class="logo"><b>K<span>a</span>n<span>t</span>a</b></div>
<h1>Canta con tus amigos en tu evento privado</h1>
<a href="" class="purple-btn">Registrate</a>
<a href="" class="purple-btn">Acceso</a>