<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
<div class="body-index">
  <div id="parallax">
    <video id="background-video" autoplay loop muted poster="/video/singer.mp4">
      <source src="/video/singer.mp4" type="video/mp4">
    </video>
    <div class="logo" id="banner"><b>K<span>a</span>n<span>t</span>a</b></div>
        <div id="texto1">
         <p class="texto1">Ven , Canta y<br>Diviértete con amigos<br>en tu Evento privado</p>
        </div>
    </div>
  </div>
  <script src="/js/parallax.js"></script>
</div>


