<form action="/karaoke/busqueda" method="post">
    <input name="busqueda" type="text" placeholder="Busca tu canción">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<div>
    {{#each items}}
        <p>{{snippet.title}}</p>
        <img src="{{snippet.thumbnails.default.url}}" alt="">
    {{/each}}
</div>