* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  padding-top: 91px;
  min-height: 100vh;
  color: aliceblue;
  background: hsla(235, 79%, 5%, 1);
  background: linear-gradient(315deg, hsla(235, 79%, 5%, 1) 0%, hsla(261, 77%, 33%, 1) 100%);
  background: -moz-linear-gradient(315deg, hsla(235, 79%, 5%, 1) 0%, hsla(261, 77%, 33%, 1) 100%);
  background: -webkit-linear-gradient(315deg, hsla(235, 79%, 5%, 1) 0%, hsla(261, 77%, 33%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#030519", endColorstr="#401394", GradientType=1 )
}

.body-index{  
  padding: 0px;
}

.body-index #parallax .logo{
  padding-top: 300px;   
}

#texto1{
  margin: 100px;
  margin-top: 10px;  
}
.texto1 {
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  color:#Fff;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8244ff, 0 0 0.5em #8244ff, 0 0 0.1em #8244ff, 0 10px 3px #000;
  margin-left: 0;
}
#background-video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;  
  top: 0;  
  z-index: -1;
}
.logo-hero {
  position: relative;  
  width: 500px;
}
.logo b{
  margin-left: 6rem;  
  font-family: 'Vibur', cursive;
  font-size: 20vh;
  color: rgb(238, 246, 255);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8244ff, 0 0 0.5em #8244ff, 0 0 0.1em #8244ff, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: rgb(97, 97, 99);
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.purple-btn{
  text-align: center;
  width: auto;
  background-color: #6610f2;
  color: white;
  text-decoration: none;
  padding:0 1rem;
  border-radius: 10px;
  border: none;
}
.purple-btn:hover{
  background-color: rgb(102, 16, 242, .8);
  color: white;
}

.contenedor-login{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  margin-top: 8rem;
  margin-left: 5rem;    
}

/* INICIA ESTILOS DE REGISTRO*/

.login-img,
.guest-img,
.signup-img {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
}


.formulario-registro{
  width: 400px;
  background: #24303c;
  padding: 15px 30px;
  border-radius: 20px;
  font-family: 'calibri';
  color: #Fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
}
.formulario-registro h3{ 
  font-size: 22px;
}
h1{
  text-align: center;
}
.form-control{
  width: 100%;
  background: #24303c !important;
  padding: 10px;
  border-radius: 8px;
  margin-bottom:16px;
  font-family: 'calibri';
  font-size: 18px;
  color: white !important;
}
.valid{
  border:3px solid #8244ff !important;
}
.formulario-registro button {
  width: 100%;
  background: #8244ff;
  border-radius: 10px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 20px;
}

.formulario-registro button:disabled, .formulario-registro button[disabled]{
  background: #ad8cea;
}
.cuenta {
  margin-top: 7px;
  text-align: center;
  font-size: 20px;
}
.link{
  text-decoration: none;
  margin: 7px;
}
/*INICIA ESTILOS DE INICIO CORREO Y CONTRASEÑA */

.inicio {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'calibri';
  color: white;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
}
.inicio h3{ 
  font-size: 22px;
  margin-bottom: 20px;
}
h1{
  text-align: center;
}
.control{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 8px;
  margin-bottom:16px;
  border:3px solid #8244ff;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.inicio button {
  width: 100%;
  background: #8244ff;
  border-radius: 10px;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 20px;
}

/* //ESTILOS DEL ERROR FORMULARIO/ */

.fondo3{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /*background-image: url(/images/microfono.jpeg);*/
  background-position: center;
  background-size: cover;
  height: 45%;
  padding: 30px; 
}

.fondo-user-profile {
  background-image: url(/images/microfono.jpeg);
  background-position: center;
  background-size: cover;
  width: calc(100%);
  height: 100%;  
}
/*AQUI EMPIEZAN ESTILOS BARRA DE NAVEGACION*/

nav {
  background: rgb(36, 48, 60, 0.8);
}
nav .logo a {
  font-family: 'Vibur', cursive;  
  color: rgb(238, 246, 255);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #8244ff, 0 0 0.5em #8244ff, 0 0 0.1em #8244ff, 0 10px 3px #000;
  font-size: 50px; 
  text-decoration: none;
}
.logo span {
  animation: blink linear infinite 2s;
}
.logo span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: rgb(97, 97, 99);
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;  
  padding: 8px 15px;
  margin: 0 10px;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.nav-link.active,
.nav-link:hover{
  color: #fff;
  background: #8244ff;
}

.navbar-toggler {
  color: #fff;
}

h2{
  color: #6610f2
}

.event-mic{
  max-width: 20%;
}

.container-profile-hbs{
  display: flex;
}

