
<center>
    <form action="/user/edit-event/{{event._id}}"  method="post">
        <div class="inicio">    
            <h1>Datos del evento</h1>
            <label for=""> Nombre del evento:
                <input type="text" name="eventName" id="" class='control' value="{{event.eventName}}">
            </label>

            <label for=""> Fecha del evento:
                <input type="datetime-local" name="eventDate" id="" class='control' value="{{event.eventDate}}">
            </label>

            <button type="submit">Actualizar evento</button>
        </div>
    </form>
</center>    
