<div class="py-5">   
    <div class="container">
        <h2 class="">Nombre del evento</h2>
        <p>Por: nombre del anfitrión</p>
        <div class="d-flex justify-content-between">
            <div>
                <form class="mt-4" action="/user/send-invitation" method="post">
                    <label>Invitar a:
                        <input class="rounded-1 border border-1" type="mail" placeholder="Correo del invitado">
                    </label>
                    <button class="purple-btn">Enviar</button>
                </form>

                <form class="mt-4" action="/user/event-details" method="post">
                    <label>Agregar Comentario:
                        <textarea class="rounded-1 border border-1 d-block"  rows="5" cols="36" placeholder="Comentario del evento" name="comment"></textarea>
                    </label>
                    <button class="purple-btn">Enviar</button>
                </form>
        </div>
        <div class="d-flex align-items-center flex-column">
            <img  class="rounded mx-auto d-block event-mic"  src="/images/mano-microfono.jpg" alt="">
            <button class="btn btn-dark">Vista de Karaoke</button>
        </div> 
        </div>
        <div class="d-flex">
            <div class="list-group list mt-4 flex-grow-1">
                <div class="list-group-item">
                    <div class="d-flex align-items-center">
                        <h3 class="flex-grow-1">Pide tu canción:</h3>
                        <a href="/karaoke/search" class="purple-btn">Agregar</a>
                    </div>
                </div>
                {{#each songs}}
                   <div class="list-group-item">
                        {{title}}
                        <br>
                        <small>{{guestId}}</small>
                    </div> 
                {{/each}}
            </div>
            <div class="flex-grow-1">

            </div>
            <div class="list-group list mt-4 flex-grow-1">
                <div class="list-group-item">
                    <h3 class="flex-grow-1">Comentarios:</h3>
                </div>
                {{#each comments}}
                    <div class="list-group-item">
                        Comentario por: {{guestId}}
                        <br>
                        <small>{{comment}}</small>
                    </div>
                {{/each}}
                
            </div>
        </div>
    </div>
</div>