<h1>Aqui vamos a tener el perfil primero Dios</h1>
<img src="/images/userProfile.png" alt=""/>
  <br>
  <p>Nombre de usuario:</p>
  <br>
  <button>
    <a href="/user/new-event">Crear un evento</a>
  </button>