<div>
    <h1>Aqui se va registrar el evento :D</h1>

    <form action="" method="post">
        <label for=""> Nombre del evento:
            <input type="text" name="eventName" id="">
        </label><br>

        <label for=""> Fecha del evento:
            <input type="datetime-local" name="eventDate" id="">
        </label><br>

        <label for=""> Icono del evento:
            <input type="image" name="eventImg" id="">
        </label><br>

        <label for=""> Color del evento:
            <input type="color" name="eventColor" id="">
        </label><br>

        <button>Crear Evento</button>

    </form>
</div>