<body class="">
    <div class="fondo3">
        <form action="" method="post">
            <div class="inicio">
                <h1>Datos del evento.</h1>
                <label for=""> Nombre del evento:
                    <input type="text" name="eventName" id="" class='control'>
                </label>

                <label for=""> Fecha del evento:
                    <input type="datetime-local" name="eventDate" id="" class='control'>
                </label>

                <label for=""> Icono del evento:
                    <input type="image" name="eventImg" id="" class='control'>
                </label>

                <label for=""> Color del evento:
                    <input type="color" name="eventColor" id="" class=''>
                </label>

                <button type="submit">Crear Evento</button>
            </div>
        </form>
    </div>    
</body>
