<div class="d-flex">
   <div class="d-none d-lg-block">
      <img class="guest-img" src="/images/crossed-microphones.jpg" alt="">
   </div>
   <form class="flex-grow-1" action="/invitados" method="POST">
      <div class="inicio"> 
         <h1>Bienvenido</h1>   
         <h3>Inicia Sesion</h3>
         <label> 
            Nombre
            <input name="name" class='control' id='nombre' type="text" placeholder="Ingrese su Nombre">
         </label>
         <label> 
            Codigo
            <input name="code" class='control' id='codigo' type="text" placeholder="Ingrese su Codigo">
         </label>          
         <button type="submit">Inicia</button>
         <p>{{errorMessage}}</p>
      </div>
   </form>
</div>         
                            
        

