<body class="">
<div class="fondo2">
   <form action="/auth/login" method="POST">
      <div class="inicio"> 
         <h1>Bienvenido</h1>   
            <label><h3>Inicia Sesion</h3></label>
                <label> Nombre
                  <input name="nombre" class='control' id='nombre' type="text" placeholder="Ingrese su Nombre">
               </label>
               <label> Codigo
                  <input name="Codigo" class='control' id='codigo' type="text" placeholder="Ingrese su Codigo">
               </label>          
               <button type="submit" value="Registar">Inicia</button>
               <p class="cuenta">¿No tienes cuenta? <a class="link" href="http://localhost:3000/auth/signup">Registrate</a></p>
      </div>
   </form>
</div>   
</body>         
                            
        

